// bower:scss
// endbower

$layout-breakpoint-md:     960px !default;

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #424242;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


// Styles that approximate what will be generated

md-grid-list,
md-grid-tile {
  display: block;
}

md-grid-list {
  position: relative;
}

md-grid-tile {
  position: absolute;

  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // Headers & footers
  figcaption {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    color: #fff;
    background: rgba(0, 0, 0, 0.18);
    overflow: hidden;

    // Positioning
    position: absolute;
    left: 0;
    right: 0;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    //
    > h3,
    > h4 {
      font-weight: 400;
      margin: 0 0 0 16px;
    }

    > h3 {
      font-size: 14px;
    }

    > h4 {
      font-size: 12px;
    }
  }
}

// App styles

main {
  height: 100%;
  display: flex;
  flex-direction: column;

  > .demos {
    display: flex;
    flex-direction: column;
    flex: 1 0;

    > section {
      display: flex;
      flex-direction: column;
      flex: 1 0;
    }
  }
}

.topeka md-grid-list {
  flex: 1 0;
  min-height: 420px;
  margin-bottom: 8px;

  md-grid-tile, svg {
    transition: all 0.3s ease-in-out;
  }
}

nav {
  background: #00bad4;
  padding: 16px 0;

  > ul {
    display: flex;
    flex-direction: horizontal;
    list-style-type: none;

    > li {
      font-family: 'Roboto', sans-serif;
      padding: 8px 16px;
      font-size: 14px;
      border: 0;
      text-transform: uppercase;
      background: none;
      color: #424242;
    }

    a {
      cursor: pointer;
      color: white;
    }
  }
}

p {
  color: #fafafa;
  margin: 8px 16px;
}

.perf-total {
  margin-right: 4px;
}

.perf-breakdown {
  display: inline-block;
  color: #9e9e9e;
  font-size: 12px;
}

md-grid-tile {
  figure {
    padding-bottom: 48px;
  }

  svg {
    width: 80%;
    height: 80%;
  }
}

%grey {
  background: #f5f5f5;
  figcaption {
    background: #999;
  }
}

%teal {
  background: #b9f6ca;
  figcaption {
    color: #616161;
    background: #1de9b6;
  }
}

%yellow {
  background: #ffff8d;
  figcaption {
    color: #616161;
    background: #ffeb3b;
  }
}

%blue {
  background: #84ffff;;
  figcaption {
    background: #03a9f4;
  }
}

%pink {
  background: #ff8a80;
  figcaption {
    background: #ff5252;
  }
}

%purple {
  background: #b388ff;
  figcaption {
    background: #7e57c2;
  }
}

.leaderboard {
  @extend %grey;
  @media (min-width: $layout-breakpoint-md) {
    svg {
      width: 64%;
      height: 64%;
    }
  }
}
.food {
  @extend %teal;
}
.general {
  @extend %yellow;
}
.history {
  @extend %blue;
  @media (min-width: $layout-breakpoint-md) {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.geography {
  @extend %pink;
}
.science {
  @extend %teal;
}
.tv {
  @extend %purple;
}
.entertainment {
  @extend %pink;
}
.sports {
  @extend %purple;
}
.music {
  @extend %blue;
}
.profile {
  @extend %grey;
}

