// bower:scss
// endbower

$layout-breakpoint-md:     960px !default;

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #424242;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


// Styles that approximate what will be generated

md-grid-list,
md-grid-tile {
  display: block;
}

md-grid-list {
  position: relative;
}

md-grid-tile {
  position: absolute;

  > figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // Headers & footers
    > figcaption {
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 48px;
      position: absolute;
      left: 0;
      right: 0;
      color: #fff;
      background: rgba(0, 0, 0, 0.18);
      overflow: hidden;

      > h3,
      > h4 {
        font-weight: 400;
        margin: 0 0 0 16px;
      }

      > h3 {
        font-size: 14px;
      }

      > h4 {
        font-size: 12px;
      }
    }

    > figcaption.top {
      top: 0;
    }

    > figcaption.bottom {
      bottom: 0;
    }
  }
}

// App styles

nav {
  background: #00bad4;
  margin-bottom: 8px;

  > ul {
    display: flex;
    flex-direction: horizontal;
    list-style-type: none;

    > li {
      font-family: 'Roboto', sans-serif;
      padding: 8px 16px;
      font-size: 14px;
      border: 0;
      text-transform: uppercase;
      background: none;
      color: #424242;
    }

    a {
      cursor: pointer;
      color: white;
    }
  }
}

p {
  color: #fafafa;
  margin: 8px 16px;
}

.hint {
  display: inline-block;
  color: #9e9e9e;
  font-size: 12px;
  margin-left: 4px;
}

md-grid-tile {
  svg {
    width: 70%;
    height: 70%;
    margin-bottom: 10%;
  }
}

.leaderboard {
  background: #f5f5f5;

  @media (min-width: $layout-breakpoint-md) {
    svg {
      width: 64%;
      height: 64%;
    }
  }
}
.food {
  background: #b9f6ca;
}
.general {
  background: #ffff8d;
}
.history {
  background: #84ffff;

  @media (min-width: $layout-breakpoint-md) {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.geography {
  background: #ff8a80;
}
.science {
  background: #b9f6ca;
}
.tv {
  background: #b388ff;
}
.entertainment {
  background: #ff8a80;
}
.sports {
  background: #b388ff;
}
.music {
  background: #84ffff;
}
.profile {
  background: #f5f5f5;
}

